<header>

  <div class="container">
    <div class="logo-wrapper">
      <img src="./assets/img/logo.png" alt="">
      <div class="logo-texts">
        <p>Badania stoisk sklepowych</p><span>v 0.1</span>
      </div>
    </div>
    <nav>
      <div class="hamburger" (click)="openMenu()" [class.active]="isActive === true">
        <span></span>
      </div>
      <ul class="menu" [class.active]="isActive === true">
        <li routerLink="/results" routerLinkActive="active">Raport</li>
        <li routerLink="/admin">Administracja</li>
        <button class="secondary" (click)="logout()">Wyloguj</button>
      </ul>
    </nav>
  </div>
</header>